---
import "@/styles/base.scss"; // 全局样式

import { ClientRouter } from "astro:transitions";
const { title, keywords, description } = Astro.props;
const headtitle = title ? `${title} - Yuki` : "Yuki";
---

{
  //全局元数据
}
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

{
  // 图标
}
<link rel="icon" type="image/svg+xml" href="/Yuki.svg" />

{
  // 主要数据
}
<title>{headtitle}</title>
<meta name="keywords" content={keywords} />
<meta name="description" content={description} />

{
  // 路由动画
}
<!-- <ClientRouter /> -->

<script>
  // 检查浏览器是否落后
  import { checkBrowser } from "@/utils/checkBrowser.ts";

  checkBrowser();
</script>
